*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Georama', sans-serif;
}
.green{
    color: green;
}

#menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 99;
}

#ul-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
}
#ul-header li{
    padding-top: .5rem;
}

.banner{
    padding-top: 7vh;
}
.banner img{
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
}

.elipse-2000{
    position: relative;
    top: -6vh;
    width: 100%;
    height: 10vh;
    z-index: 1;
    border-radius: 100%;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5vh;
    padding-top: 2rem;
    box-shadow: 0 -.1rem .1rem 0 white;
}


.btn-accion{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10vh;
}
.btn-cuerpo{
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 10vh;
    font-size:4.5vh;
    border-radius: 15px;
    color: white;
    box-shadow: 0 .4rem 1rem 0 grey;
}

.seccion-productos{
    position: relative;
    background-color: green;
    
}
.elipse-productos{
    background-color: green;
    position: absolute;
    top: -4.8vh;
    width: 100%;
    height: 10vh;
    z-index: 1;
    border-radius: 100%;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    padding-top: 2rem;
    box-shadow: 0 -.1rem .1rem 0 black;
}
.articulo-categorias{
    position: relative;
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0;
    
}
.tarjetas{
    position: relative;
    display: flex;
    margin: 1rem 2rem;
    box-shadow: 0 0 1rem 0 black;
    border-radius: 15px;
}
.imagen-tarjetas{
    border: 2px solid white;
    border-radius: 15px;
    width: 260px;
    height: 200px;
}
.nombre-tarjetas{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 2px;
    z-index: 9;
    width: 100%;
    height: 30%;
    font-size: 1.5rem;
    border-radius: 15px;
    background-color: white;
}

#articulo-quien-somos{
    color: white;
    text-align: center;
}
#articulo-quien-somos h2{
    font-weight: bold;
    padding-top: 2rem;
    font-size: 5vh;
}
#articulo-quien-somos p{
    margin-top: 5vh;
    width: 80%;
    font-size: 3vh;
    margin-left: 10%;
    padding-bottom: 9vh;
}
#seccion-marcas{
    position: relative;
    padding-bottom: 10vh;
}
.elipse-marcas{
    position: relative;
    top: -7vh;
    width: 100%;
    height: 10vh;
    z-index: 1;
    border-radius: 100%;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    padding-top: 2rem;
    box-shadow: 0 -.1rem .1rem 0 rgb(27, 25, 25);
}

.elipse-contactanos{
    position: relative;
    top: -7vh;
    width: 100%;
    height: 10vh;
    z-index: 1;
    border-radius: 100%;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    padding-top: 2rem;
    box-shadow: 0 -.1rem .1rem 0 rgb(27, 25, 25);
}

#texto-contactos{
    font-size: 3.5vh;
    text-align: center;
    font-weight: bold;
}
#contactos {
    font-size: 5vh;
    margin-top: 4vh;
    text-align: center;
}
#contactos a{
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding-left: 2.5vw;
}
.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
}

#seccion-informacion{
    background-color: green;
    position: relative;
}

.elipse-ubicacion{
    position: relative;
    top: -4.5vh;
    width: 100%;
    height: 10vh;
    z-index: 1;
    border-radius: 100%;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    padding-top: 2rem;
    margin-bottom: 1rem;
    box-shadow: 0 -.1rem .1rem 0 rgb(27, 25, 25);
}
#texto-ubicacion{
    width: 90%;
    padding-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 2rem;
}
#texto-ubicacion a{
    text-decoration: none;
}
#icono-ubicacion{
    font-size: 3em;
    padding-right: .5rem;
}
#contenedor-mapa{
    display: flex;
    padding: 0 5%;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
}
#mapa{
    box-shadow: 0 .3rem .8rem 0 black;
    width: 100%;
    height: 50vh;
}

#aliados{
    background-color: white;
    margin-bottom: 3rem;
}
.elipse-aliados{
    position: relative;
    top: -4.5vh;
    width: 100%;
    height: 10vh;
    z-index: 1;
    border-radius: 100%;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    padding-top: 2rem;
    margin-bottom: 1rem;
    box-shadow: 0 -.1rem .1rem 0 rgb(27, 25, 25);
}
footer{
    position: relative;
    height: 8vh;
}
.elipse-aguirre{
    position: absolute;
    top: -6vh;
    width: 100%;
    height: 10vh;
    z-index: 1;
    border-radius: 100% 100% 0 0;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    padding: 3rem;
    margin-bottom: 1rem;
    box-shadow: 0 -.1rem .1rem 0 rgb(27, 25, 25);
}
.modal-backdrop, .fade .show{
    z-index: 1;
}
#ingresar{
    background-color: green;
    height: 90vh;
    color: wh;
}
#container-form{
    width: 100vw;
    height: 100vh;
    background-color: green;

}
#form{
    position: relative;
    width: 80%;
    margin-left: 10%;
    color: white;
    padding-top: 10vh;
    font-size: 3.5vh;
}
.cerrar-ingreso{
    color: white;
    background-color: transparent;
    border: none;
    position: absolute; 
    right: 0;  
}
.title-form{
    padding-top: 10vh;
    font-size: 5vh;
    font-weight: 700;
    text-align: center;
}
.item-form{
    padding-top: 5vh;
    font-weight: bold;
}
.item-form input{
    border-radius: 15px;
    border: none;
    width: 80%;
    padding-left: .5rem;
}
#password{
    margin-left: 1.5rem;
}
input[type="submit"]{
    padding: 0;
    width: 6rem;
    font-weight: 700;
    color: green;
    box-shadow: 0 .5rem .3rem 0 rgba(0, 0, 0,.25);
}

.contenedor-admin{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10vh;
}
.btn-cerrar-admin{
    position: fixed;
    top: 2rem;
    right: 1rem;
    border-radius: 15px;
    border: none;
}
.btn-admin{
    background-color: green;
    width: 50%;
    height: 15vh;
    border-radius: 15px;
    margin: 0 25%;
    border: none;
    box-shadow: 0 .5rem .5rem 0 rgba(0, 0, 0,.25);
}
.contenedor-crud{
    background-color: green;
    width: 100%;
    height: 100vh;
    padding-top: 15vh;
}
.header-crud{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn-atras{
    background: white;
    color: black;
    position: fixed;
    left: 1rem;
    top: 1rem;
    font-size: 3rem;
    border-radius: 15px;
    border: none;
}
.contenedor-formulario{
    width: 80%;
    height: 75vh;
    background-color: white;
    position: relative;
    left: 10%;
    border-radius: 15px;
}
.formulario{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.exitoso{
   font-size: 25vh;
   color: green;
}
.contenedor-tabla{
    width: 80%;
    margin: 0 10%;
    max-height: 50vh;
}
.bg-green{
    background-color: green;
}
